body {
    padding: 10%;
    margin: 10%;
    background: #EFEEEA;
}

#container h1 {
    text-align: center;
}

.calculator-grid > button {
    cursor: pointer;
    font: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid black;

}
 button:hover {
    background-color:  limegreen;
}

.span-four {
    grid-column: span 4;
}
